## Pandas

### Instructions

This assignment will be done completely inside this Jupyter notebook with answers placed in the cell provided.

All python imports that are needed shown.

Follow all the instructions in this notebook to complete these tasks.    

Make sure the CSV data files is in the same folder as this notebook - alumni.csv, groceries.csv

In [ ]:
# Imports needed to complete this exam

### Question 1 :  Import CSV file (1 Mark)


Write code to load the alumni csv dataset into a Pandas DataFrame called 'alumni'.

In [ ]:
import pandas as pd
import numpy as np
df = pd.read_csv('alumni.csv')

### Question 2 :  Understand the data set (5 Marks)

Use the following pandas commands to understand the data set: a) head, b) tail, c) dtypes, d) info, e) describe

In [ ]:
# a) Display the first few rows of the DataFrame
print("First few rows (head):")
print(df.head())

In [ ]:
# b) Display the last few rows of the DataFrame
print("\nLast few rows (tail):")
print(df.tail())

In [ ]:
# c) Display the data types of each column
print("\nData types (dtypes):")
print(df.dtypes)

In [ ]:
# d) Display information about the DataFrame
print("\nInformation about the DataFrame (info):")
print(df.info())

In [ ]:
# e) Display statistical summary of the DataFrame
print("\nStatistical summary (describe):")
print(df.describe())

### Question 3 :  Working with the data set (4)

a) get the median, b) mean and c) standard deviation for the 'Salary' column

In [ ]:
# a) Calculate the median of the 'Salary' column
median_salary = df['Salary'].median()
print("Median of 'Salary':", median_salary)

In [ ]:
# b) Calculate the mean of the 'Salary' column
mean_salary = df['Salary'].mean()
print("Mean of 'Salary':", mean_salary)

In [ ]:
# c) Calculate the standard deviation of the 'Salary' column
std_salary = df['Salary'].std()
print("Standard Deviation of 'Salary':", std_salary)

# Select row at index 3

In [ ]:
# Select the row at index 3
row_at_index_3 = df.iloc[3]

print("Row at index 3:")
print(row_at_index_3)

# Select rows with over 70,000 on the salary

In [ ]:
# Select rows where 'Salary' is greater than 70,000
high_salary_rows = df[df['Salary'] > 70000]

print("Rows with Salary over 70,000:")
print(high_salary_rows)

# Update coulmn values in Marital Status to a charcheter crossponding it's value
for example Single ->S ,Married->M and so on

In [ ]:
# Define a mapping from full words to single characters
marital_status_mapping = {
    'Single': 'S',
    'Married': 'M',
    'Divorced': 'D',
    'Widowed': 'W',
    'Separated': 'S',
    'Partnered': 'P'
}

# Update the 'Marital Status' column using the mapping
df['Marital Status'] = df['Marital Status'].map(marital_status_mapping)

# Drop the Fee coulmn

In [ ]:
# Drop the 'Fee' column
df = df.drop(columns=['Fee'])

# ADD a New row to the data set

In [ ]:
# Define a new row with NaN values for all columns
new_row = pd.DataFrame([np.nan] * len(df.columns), columns=df.columns)

# Concatenate the new row to the existing DataFrame
df = pd.concat([df, new_row], ignore_index=True)

# Remove all rows where year geaduated is under 2006

In [ ]:
# Remove all rows where 'Year Graduated' is less than 2006
df = df[df['Year Graduated'] >= 2006]
print(df.head())